<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
</head>

<body>
    {{message}}
    <form action="/admin/password" method="post">
        <label>password: <input type="password" name="current_password" placeholder="Enter password"></label>
        <br>
        <label>new password: <input type="password" name="new_password" placeholder="Enter new password"></label>
        <br>
        <label>confirm new password: <input type="password" name="new_password_check"
                placeholder="Confirm new password"></label>
        <br>
        <button type="submit">Change Password</button>
    </form>
    <p><a href="/admin/dashboard">Back</a></p>
</body>

</html>
